
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.contenedor--slider {
	max-width: 1200px;
	width: 95%;
	margin: 100px auto;
}
/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}
.carousel__anterior , .carousel__siguiente{
	position: absolute;
	display: block;
	width: 25px;
	height: 30px;
	border: none;
	top: calc(50% - 10px); /*Calcular para que se aline correctamente. con respecto al ancho y alto*/
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background:none;
	color: grey;
	opacity: 50%;
}
.carousel__contenedor button:focus{
	outline: none;

}
.carousel__anterior:hover , .carousel__siguiente:hover{
opacity: 100%;
}
.carousel__anterior{
	left: -30px;
}
.carousel__siguiente {
	right: -30px;
}
.carousel__lista{ /*quitamos el scroll debajo del carrousel, que aparecen en algunos navegadores*/
	overflow: hidden;
}

/*rompiendo esquema de clases glider que son agregando x defecto*/
.carousel__elemento .glider-slide{
	height: 235px !important;
}
.carousel__lista a .carousel__elemento:first-child{
	margin-left: 30px;
}
.carousel__lista a .carousel__elemento:last-child{
	margin-right: 30px;
}
.carousel__elemento{
	box-sizing: border-box;
	position: relative;
	height: 100px !important;
	overflow-wrap: anywhere ;
	text-align: center;
	padding: 10px 10px;
	box-sizing: border-box;
	transition: 0.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	margin: 30px 0px;
}
.carousel__elemento span{
	position: absolute;
	display: block;
}
 .carousel__elemento span:nth-child(1){
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 2px;
	 background: linear-gradient(90deg,transparent, #892cdc);
	 animation: 1s animate1 infinite linear;
 }
 @keyframes animate1
 {
	 0%
	 {
		 left: -100%;
	 }
	 50%,100%
	 {
		 left: 100%;
	 }
 }
 .carousel__elemento span:nth-child(2){
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent, #892cdc);
	animation: 1s animate2 infinite linear;
	animation-delay: 0.25s;
}
@keyframes animate2
{
	0%
	{
		top: -100%;
	}
	50%,100%
	{
		top: 100%;
	}
}
.carousel__elemento span:nth-child(3){
    bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent, #892cdc);
	animation: 1s animate3 infinite linear;
	animation-delay: 0.5s;
}
@keyframes animate3
{
	0%
	{
		right: -100%;
	}
	50%,100%
	{
		right: 100%;
	}
}
.carousel__elemento span:nth-child(4){
    bottom: -100;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent, #892cdc);
	animation: 1s animate4 infinite linear;
	animation-delay: 0.75s;
}
@keyframes animate4
{
	0%
	{
		bottom: -100%;
	}
	50%,100%
	{
		bottom: 100%;
	}
}

.carousel__lista a{
	text-align:  center !important;
	color: #892cdc !important;
}
.carousel__elemento:hover{

	background-color: rgba(139, 47, 222);
	box-shadow: 0 0 5px #892cdc,
	0 0 25px  #892cdc,
	0 0 30px   #892cdc;
	color: white;
}
.carousel__elemento a:hover{
	color: whitesmoke !important;
}
.carousel__indicadores .glider-dot{ /*modificando la estructura de los puntitos del carrusel*/
	display: block;
	width: 30px;
	height: 4px;
	background: grey;
	opacity: .2;
	border-radius: 0;
}


.carousel__indicadores .glider-dot:hover{ /*cuando esta posicionado*/
	opacity: .5;
}
.carousel__indicadores .glider-dot.active{ /*cuando esta seleccionado*/
	opacity: .6;
	background-color: #892cdc;
}

/* --- --- MEDIA QUERIES --- --- */
@media screen and (max-width: 320px) {
	
	.contenedor--slider {
		width: 70% !important;
	}
	.carousel__elemento h5{
		font-size: 15px;
	}
	.carousel__elemento {
		margin: 20px 20px !important;
		height: 65px !important;
	}
	
}

@media screen and (max-width: 425px) {
	
	.contenedor--slider {
		width: 83%;
	}
	.carousel__elemento h5{
		font-size: 15px;
	}
	.carousel__elemento {
		margin: 10px 10px !important;
		height: 60px !important;
	}
}
@media screen and (max-width: 800px) {
	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
	.contenedor--slider {
		width: 90%;
	}
	.carousel__elemento {
		margin: 20px 20px !important;
		height: 60px !important;
	}
}
@media screen and (max-width: 1024px) {
	
	.contenedor--slider {
		width: 83%;
	}
	.carousel__elemento h5{
		font-size: 18px;
	}
	.carousel__elemento {
		margin: 30px 30px;
		height: 70px !important;
	}
}


