*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .imagenesbis{
    display: none;
  }
  
  .inicial .imagenescritorio{
    display: none;
  }
  
  
  .volver{
    padding-top: 30px;
    padding-bottom:30px ;
  } 
  
  .volver span{
    color: black;
  }
  
  .volver i{
    font-size: 15px;
    margin-right: 8px;
  }
  
  .inicial h1{
    margin-bottom: 30px;
  }

  .inicial .carrucel{
    display: flex;
    justify-content: center;
  }
  
  
  .definicion{
    padding: 40px 20px;
  }
  
  .definicion h2{
    font-size: 2.4rem;
    padding-bottom: 20px;
  }

  .definicion h3{
    padding-top: 10px;
  }
  
  .definicion .detalle span{
    display: block;
    padding-top: 30px;
    font-size: 18px;
  }
  
  .definicion .detalle i{
    margin-left: 8px;
    margin-right: 20px;
  }
  
  .definicion select{
    margin-top: 70px;
    width: 30%;
    height: 68px;
    font-size: 30px;
    background-color: rgba(209, 209, 209);
  }
  
  .definicion button.carrito{
    width: 66%;
    height: 70px;
    font-size: 22px;
    color: white;
    background-color: cadetblue;
    float: right;
    border-radius: 4px;
    margin-top: 69px;
  }
  
  .definicion .comprar button.comprar{
    margin-top: 50px;
    padding-bottom: 10px;
    width: 100%;
    height: 70px;
    font-size: 30px;
    background-color: rgb(52, 174, 179);
    color: white;
    border-radius: 4px;
  }
  
  .entrega{
    padding-top: 40px;
  }

  .entrega h3{
    display: flex;
    justify-content: flex-start;
  }
  
  
  .entrega .metodos span{
    display: block;
    padding-top: 20px;
    font-size: 30px;
  }
  
  .entrega .metodos i{
    margin-right: 30px;
    font-size: 15px;
  }
  
  .definiciones{
    padding-top: 50px;
  }
  
  .definiciones h4{
    font-size: 30px;
    padding-bottom: 20px;
    background-color: rgba(209, 209, 209);
  }

  .definiciones p{
    font-size: 25px;
  }
  
  .secciones{
    padding-top: 50px;
  }

  .secciones .seccion ul li{
    list-style: none;
  }
  
  .secciones h4{
    font-size: 30px;
    padding-bottom: 20px;
    background-color: rgba(209, 209, 209);
  }
  
  .secciones hr{
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    border-top: 1px solid gray;
  }
  
  .secciones ul li h4{
    font-size: 18px;
    float: right;
  }
  
  .secciones .secciones ul li span{
    width: 45%;
    text-align: right;
  }

  .secciones .seccion{
    margin-top: 50px;
  }
  
  .secciones .seccion h3{
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
  }
  
  .secciones .seccion h5{
    display: inline-block;
    font-size: 20px; 
    width: 50%;
    text-align: left;
  }

  .secciones .segseccion h3{
    padding-top: 40px;
    display: flex;
    justify-content: flex-start;
  }

  .secciones .segseccion h5{
    display: inline-block;
    font-size: 20px; 
    width: 50%;
    text-align: left;
  }


/*   -----------------VERSION ESCRITORIO------------- */

@media(min-width:1024px){
  .volver{
    display: none;
  }

  .inicial{
    width: 60%;
    float: left;
    height: 730px;
    margin-top: 5%;
  }

  .inicial h1{
    font-size: 22px;
  }


  .definicion{
    width: 40%;
    float: right;
    padding: 100px 20px;
  }

  .definicion h2{
    display: flex;
    justify-content: center;
    font-size: 35px;
  }

  .definicion h3{
    display: flex;
    justify-content: center;
    font-size: 15px;
    width: 100%;
  }

  .definicion .detalle span{
    font-size: 15px;
  }

  .definicion .detalle i{
    margin-right: 10px;
  }

  .definicion select{
    width: 90px;
    display: inline;
    float: left;
    margin-top: 40px;
    margin-left: 0%;   
    margin-right: 0%;
    cursor: pointer;
    height: 45px;
    font-size: 18px;
  }

  .definicion button.carrito{
    width: 70%;
    height: 45px;
    float: right;
    margin-top: 40px;
    font-size: 18px;
    cursor: pointer;
  }

  .definicion .comprar button.comprar{
    padding: 0 auto;
    cursor: pointer;
    height: 50px;
    margin-top: 5%;
  }

  .entrega{
    float: right;
    width: 40%;
  }

  .entrega h3{
    padding-left: 100px;
    font-size: 20px;
  }

  .entrega .metodos span{
    padding-left: 110px;
    font-size: 15px;
  }

  .entrega .metodos i{
    margin-right: 10px;
    font-size: 25px;
  }

  .definiciones{
    padding-top: 830px;
  }

  .definiciones h4{
    margin: 0% 2%;
    font-size: 25px;
    background-color: white;
    border-bottom: 1px solid rgba(209, 209, 209);;
  }

  .definiciones p{
    font-size: 18px;
    margin-left: 3%;
    margin-right: 2%;
  }

  .secciones .seccion{
    margin-left: 18px;
    width: 48%;
    margin-right: 5%;
    margin-left: 5%;
  }

  .secciones h4{
    padding-top: 30px;
    font-size: 25px;
    background-color: white;
    border-bottom: 1px solid rgba(209, 209, 209);
    margin: 0% 2%;
  }

  .secciones .seccion{
    display: flex;
    width: 100%;
  }
  .secciones .seccion .detalle1{
    width: 50%;
  }

  .secciones .seccion .detalle2{
    width: 50%;
  }




  .secciones .seccion hr{
    display: none;
  }

  .inicial .imagenesbis{
    display: inline;
  }

  .inicial .imagenesbis img{
    width: 23%;
    margin-top: 50px;
    margin-right: 2%;
    margin-left: 5%;
  }

  .inicial .carrucel{
    display: none;
  }

  .inicial .imagenescritorio{
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }

  .inicial .imagenescritorio img{
    width: 70%;
  }

  .secciones hr{
    display: none;
  }
}

  
 
  