
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2{
  font-family: "geforce_bold";
}

h3{
  font-family: "geforce_light";
}

p{
  font-family: "geforce-bold-alt";
}



/*Fuentes Personalizadas*/

@font-face {
  font-family: geforce_light;
  src: url("https://www.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce_light-webfont.woff") format("opentype");
}

@font-face {
  font-family: geforce_bold;
  src: url("https://www.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce_bold-webfont.woff") format("opentype");
}

@font-face {
  font-family: geforce_light_alt;
  src: url("https://www.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-light-alt-webfont.woff2") format("opentype");
}

@font-face {
  font-family: geforce-bold-alt;
  src: url("https://www.nvidia.com/etc/designs/nvidiaGDC/clientlibs_base/fonts/geforce-bold-alt-webfont.woff2") format("opentype");
}



/*------------------------------------HEADER----------------------------------------------------------------------------------------*/
header {
  display:flex;
  flex-direction: row;
  height:auto;
  width:100%;
  background-color: white;
  margin-top:10px;
}

header i{
  color:#892cdc;
}

div.contenedor-header{
  margin:0;
}

header div.menu-button{
  display:flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  padding-top: 10px;
  background-color: transparent;
}

header div.menu-button-carrito{
  display:flex;
  justify-content: right;
  align-items: center;
  padding-top: 10px;
  background-color: transparent;
}


header nav .search{
  padding-top: 10px;
}

header nav .search button.boton-busqueda{
  background-color: white;
}


header nav {
  background-color: #892cdc;    
}

header nav .lista{
  flex-direction: column;
  overflow:hidden;
  padding:0;
  margin:0;
  width:100%;
}

header nav li{
  border-bottom: 1px solid white;
  line-height: 30px;
}
header nav a{
  color:white;
  text-decoration: none;
  padding-left: 10px;
}



div.logo-container{
  text-align: center;
  justify-content: center;
  align-items:center;
  overflow:hidden;
  flex-wrap: wrap;
}


img.logo{
  height: 30px;
  margin-top:10px;
}

div.container{
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #892cdc;
}

header div .menu-button-carrito button{
  width:25px;
  height:25px;
  background-color:white;
  border-radius:50%;
  border:1px solid #892cdc;
}



/*---------------------------------------------fin--------------------------------------------------------------------------------*/



/*-----------------------------------------------MI CARRITO : "Productos agregados"--------------------------------------------------*/
div.micarritoCompras section.misCompras{
  margin-bottom: 40px;
}
.micarritoCompras section.misCompras .titulo h2{
font-size: 25px;
color: indigo;
margin-top: 20px;
}
.micarritoCompras .producto article{
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.micarritoCompras  .producto article  .imagenProducto{
  width: 30%;
  display: flex;
  align-items: center;
}
.micarritoCompras  .producto article  .imagenProducto img{
width: 100%;
}
.micarritoCompras  .producto article .detallesProducto{
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;

}
.micarritoCompras   .producto article  .detallesProducto p.nombreProducto{
width: 100%;
margin-bottom: 0;
height:min-content;
font-size: 14px;
margin-bottom:5px;
}
.micarritoCompras  .producto article   .detallesProducto .cantidadProducto{
  width: 30%;

  height: min-content;
  text-align: center;
}
.micarritoCompras  .producto article  .detallesProducto .cantidadProducto input{
 width: 40%;
 height: 20px;
}
.micarritoCompras  .producto article  .detallesProducto p.precioProducto{
  width: 30%;
  margin-bottom: 0;
  text-align: right;
  height: min-content;
}
.micarritoCompras  .producto article .detallesProducto .eliminarProducto{
  width: 99%;
  height: min-content;
  text-align: right;
  padding-top: 10px;
  font-size: 12px;
}
.micarritoCompras .producto article .detallesProducto .eliminarProducto button{
border-style: none;
background-color: white;
}
/*-------------------------------------------------------fin---------------------------------------------------------------------*/

/*-------------------- MI CARRITO : "mi orden"------------------------------------------------------------------------------------- */
.cajaMiOrden{
  margin-bottom: 20px;
}
.cajaMiOrden  .miOrden h2{
  text-align: center;
  font-size: 18px;
}
.cajaMiOrden  .miOrden section.preciosDeCompra{
  display: flex;
  flex-direction: column;
}
.cajaMiOrden  .miOrden section.preciosDeCompra div:first-child{
  border-top: 1px solid gray;
  padding-top: 20px;
}
.cajaMiOrden  .miOrden section.preciosDeCompra .preciosDeMiOrden{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.cajaMiOrden  .miOrden section.preciosDeCompra .descuentos{
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.cajaMiOrden  .miOrden .botonesFinCompra form button{
  border-style: none;
  margin-bottom: 10px;
  padding: 5px;
}
.cajaMiOrden  .miOrden .botonesFinCompra form button.comprar{
  background-color: rgba(72, 211, 72, 0.637);
  color: rgb(119, 172, 103);
}
.cajaMiOrden  .miOrden .botonesFinCompra form button.seguirComprando{
  background-color: rgba(243, 226, 73, 0.637);
  color: rgb(209, 197, 34);
}
/*--------------------------------------------fin---------------------------------------------------------*/


/*cuerpo del main*/


main{
  display:flex;
}

main div.titulo{
  text-align: center;
  margin-top:15px;
  font-size: 40px;
  border-bottom:2px solid #892cdc;
}



/*****************************/
/*  SECCION PRODUCTOS        */
/*****************************/

main div.contenedor-productos{
  display:flex;
  width:100%;
  flex-direction: row;
  padding:10px 15px 10px 15px;    
}

main div.fila{
  display:flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow:hidden;
  width:100%;   
}

main div div.tarjeta-producto{ 
  margin:2%;
  width:46%;
  height:auto;
  background-color: white;
  overflow:hidden;
  border:1px solid black;
  border-radius: 10px;
  background-color:#892cdc;

}

main div div.tarjeta-producto a{
  text-decoration: none;
}

main div div .tarjeta-producto h3{
  font-size: medium;
  border-top: 1px solid #892cdc;
  color: white;
}



main div div .tarjeta-producto div.descripcion{
  display: flex;
  border-top: 1px solid 892cdc;
  bottom:0;
  width: 100%;
  transition: ease-in-out;
  transition-duration: 10s;
  font-size: small;
  flex-direction: row;
  text-decoration: none;
  flex-wrap: wrap;
  justify-content: space-around;
}


main div div .tarjeta-producto div span.precio{
  display: flex;
  color:white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
main div div .tarjeta-producto div span.descuento{
  display: flex;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: white;
  font-weight: 700;
  color:green;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}


/* main div div.tarjeta-producto .descripcion{
  background-color:white;
  top:10px;
  display:block;
  transition:ease-in;
  transition-duration:0.5s;
} */
div.img-prod{
  display:flex;
  width:100%;
  height:150px;
}

main .img-prod img{
  width:100%;
}




/**********************************************/
/*             SECCION PUBLICIDAD             */
/**********************************************/
main div.contenedor-publicidad{
  display:flex;
  flex-direction:row;
  height:auto;
  width:100%;
  flex-wrap: wrap;
  
  
}

main .contenedor-publicidad div.publicidad{
  background-color: #892cdc;
  flex-direction: column;
  color:white;
  border-radius: 20px 0 20px 0;
  border:1px solid black;
  overflow:hidden;
  margin-right:15px;
  margin-left:15px;
  margin-top:10px;
 
}

main .contenedor-publicidad .img-publicidad{
  width:100%;
  height:auto;
}

main .contenedor-publicidad .texto-publicidad{
  border-left: 1px solid white;
  width:100%;
  height:auto;
  padding:10px;
}


/**********************************************/
/*MARCAS                                      */
/**********************************************/


main div.contenedor-marcas{
  display:flex;
  flex-direction: row;
  width:100%;
}

main div.logos-marcas{
  display:flex;
  width:100%;
  height:auto;
  flex-direction: row;
  justify-content: center;
  border-radius:20px 20px 0px 0px;
  margin-top:30px;
  flex-wrap: wrap;
}


main div.contenedor-logos{
  display:flex;
  width:46%;
  height:auto;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 10px 10px 10px 0px #892cdc;
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
}

main div.contenedor-logos img{
  width:100%;
  text-align: center;
  
}


/*---------------------------------------------------Footer-----------------------------------------------------------*/
footer {
  text-align: center;
  background-color: #892cdc;
  color: white;
}
footer h3{
  margin-top: 5px;
}
footer .nosotros p{
  padding: 0px 15px;
}
footer ul{
  padding: 0;
}
footer ul li a{
  text-decoration: none;
  color: white;
}

footer .redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

footer .redes ul li{
  display: inline;
  margin-right: 30px;
}

footer .mediosDePago i{
  margin-right: 5px;
}

footer .redes{
  margin-top: 20px;
  padding-left: 50px;
}

footer .copyright{
  width: 100%;
}
footer .redes ul li{
  margin-right: 40px;
  font-size: 35px;
}
/*-----------------------------------------------------fin-------------------------------------------------------------*/


/**************************************************RESPONSIVE*******************************************************/
@media(min-width:768px){
  /*>>>>>>>HEADER<<<<<<<<*/
  img.logo{
      height: 50px;
      text-align: left;
  }
  div.logo-container{
      order:-1;
      text-align: left;
      justify-content: start;
      align-items:none;
      overflow:hidden;
      flex-wrap: wrap;
  }

  header nav .search button.boton-busqueda{
      background-color: white;
      height:38;
  }

  header nav{
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap:wrap;
      padding-top: 10px;
      width:100%;
      height:100px;
      background-color: white;
  }
  header .container-header{
      display: flex;
      overflow:hidden;
     
  }

  header .container{
      display: flex;
      overflow:hidden;
     
  }

  header nav ul{
      width:100%;
  }


  header nav .search{
      overflow:hidden;
      order:2;
      top:-11px;
      right:0px;
      height:100%;
      margin-bottom: 5px;
  }

  header nav.nav-menu{
      height:50px;
      overflow: hidden;
      background-color: #892cdc;
      color: white;
  }

  header nav .lista{
      flex-direction: row;
      align-items: center;
      height:100%;
      
  }

  header nav li{
      border-bottom: 1px solid white;
      line-height: 30px;
  }

  header nav a{
      color:black;
      text-decoration: none;
      padding-right: 10px;
  }

  header div.menu-button-carrito{
      display:flex;
      justify-content:end;
      align-items: right;
      padding-top: 10px;
  }
  /*>>>>>>>>FIN<<<<<<<<<<*/

  /*>>>>>>>>>>>MI CARRITO<<<<<<<<<< */
  .micarritoCompras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
  }  
  .micarritoCompras section.misCompras{
    width: 60%;
  }
  .micarritoCompras section.misCompras div.titulo h2{
    margin-top: 0px;
    }
  .micarritoCompras section.cajaMiOrden{
    width: 30%;
  }
  .micarritoCompras section article .detallesProducto{
    align-items: center;
    justify-content: space-around;
  }
  .micarritoCompras section .producto article .detallesProducto{
  width: 80%;
  }
  
  .micarritoCompras section .producto article  div.imagenProducto{
    width: 15%;
  }
  .micarritoCompras section .producto article {
    justify-content: start;
  }
  .micarritoCompras section  .producto article  .detallesProducto p.precioProducto{
  width: 15%;

  text-align: center;
  }

  .micarritoCompras section  .producto article  .detallesProducto p.nombreProducto{
    width: 40%;
    text-align: center;
  }
  .micarritoCompras section  .producto article   .detallesProducto .cantidadProducto{
  width: 20%;
  }
  .micarritoCompras section .producto article .detallesProducto .eliminarProducto{
    width: 10%;
    text-align: center;
  }
  /*>>>>>>>>>FIN<<<<<<<<<<<*/
}


/*********************************************/
/*                RESPONSIVE                 */
/*********************************************/

@media (min-width:426px){
  /*menu*/
  
  
  img.logo{
      height: 50px;
      text-align: left;
  }
  div.logo-container{
      order:-1;
      text-align: left;
      justify-content: start;
      align-items:none;
      overflow:hidden;
      flex-wrap: wrap;
  }
  /**/
  header nav ul li{
      list-style: none;
      border:0;
  }

  header nav ul li a{
     color:white;
     font-weight: 700;
     text-decoration: none;
  }

  header nav ul li a:hover{
      background-color: white;
      color:#892cdc;
      border:2px solid white;
      border-radius: 10px 0 10px 0;
      font-weight: 700;
      text-decoration: none;
  }


  header div.contenedor-menu{
      background-color:  #892cdc;
      margin-top:10px;
  }

   /**/

  header nav .search button.boton-busqueda{
      background-color: white;
      height:38;
  }


  header nav{
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap:wrap;
      padding-top: 10px;
      width:100%;
      height:100px;
      background-color: #892cdc;
  }
  header .container-header{
      display: flex;
      overflow:hidden;
     
  }

  header .container{
      display: flex;
      overflow:hidden;
     
  }

  header nav ul{
      width:100%;
  }


  header nav .search{
      overflow:hidden;
      order:2;
      top:-11px;
      right:0px;
      height:100%;
      margin-bottom: 5px;
  }

  header nav.nav-menu{
      height:50px;
      overflow: hidden;
  }

  header nav .lista{
      flex-direction: row;
      align-items: center;
      height:100%;
      
  }

  header nav li{
      border-bottom: 1px solid white;
      line-height: 30px;
  }

  header nav a{
      color:black;
      text-decoration: none;
      padding-right: 10px;
  }

  header div.menu-button-carrito{
      display:flex;
      justify-content:end;
      align-items: right;
      padding-top: 10px;
  }

  header div .menu-button-carrito button{
    width:40px;
    height:40px;
    background-color:white;
    border-radius:50%;
    border:1px solid purple;
  }

  /*Main*/
  /* main{
      display:flex;
  }
  
  main div.titulo{
      text-align: center;
      margin-top:15px;
      font-size: 40px;
      border-bottom:2px solid #892cdc;
  }
  
  main div.contenedor-productos{
      display:flex;
      width:100%;
      flex-direction: row;
      padding:10px 15px 10px 15px;    
      
  }
  
  main div.fila{
      display:flex;
      text-align: center;
      flex-direction: row;
      flex-wrap: wrap;
      overflow:hidden;
      width:100%;   
  }
  
  main div div.tarjeta-producto{ 
      flex-direction: column;
      flex-wrap: wrap;
      margin:2.5%;
      width:20%;
      height:320px;
      background-color: #892cdc;
      overflow:hidden;
      border:1px solid black;
      border-radius: 10px; 
      border-radius: 20px 0 20px 0;
      
  }
  main div div.tarjeta-producto:hover{
      border:1px solid black;
      box-shadow: 10px 10px 10px 0px #892cdc;
      height:auto;   
      transition:ease-in;
      transition-duration:.5s;
  }
  
  main div div .tarjeta-producto h3{
      font-size: medium;
      font-weight: 700;
      border-top: 1px solid 892cdc;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  main div div .tarjeta-producto div.descripcion{
      border-top: 1px solid white;
      display:none;
      bottom:0;
      transition: ease-in-out;
      transition-duration: 0.5s;
      flex-direction: row;
      background-color: #892cdc;
      flex-wrap: wrap;
  }

  main div div.tarjeta-producto:hover .descripcion{
      display: flex;
      background-color:white;
      top:10px;
      height: auto;
      transition:ease-in;
      transition-duration:1.1s;
      background-color: #892cdc;
  }

  main div div .tarjeta-producto div span.precio{
      display: flex;
      color:white;
      font-size: 20px;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  main div div .tarjeta-producto div span.descuento{
      display: flex;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: white;
      font-weight: 700;
      color:green;
      font-size: 15px;
      justify-content: center;
      align-items: center;

  }

  main div.img-prod{
      height: 250px;
  }

  main .img-prod img{
      width:100%;
  } */
  /***********/
  /*contenido*/
  /***********/
  
  main{
      display:flex;
  }

  main div.titulo{
      border-bottom:2px solid #892cdc;
  }


  /*********************/
  /*SECCION PRODUCTOS  */
  /*********************/
  main div.contenedor-productos{
      display:flex;
      width:100%;
      flex-direction: row;
      padding:10px 15px 10px 15px;    
  }

  main div.fila{
      display:flex;
      text-align: center;
      flex-direction: row;
      flex-wrap: wrap;
      overflow:hidden;
      width:100%;   
  }


  main div div.tarjeta-producto{ 
      margin:2%;
      width:46%;
      height:auto;
      background-color: white;
      overflow:hidden;
      border:1px solid black;
      border-radius: 10px;
      background-color:#892cdc;

  }

  main div div.tarjeta-producto a{
      text-decoration: none;
  }

  main div div .tarjeta-producto h3{
      font-size: medium;
      border-top: 1px solid #892cdc;
      color: white;
  }



  main div div .tarjeta-producto div.descripcion{
      display: flex;
      border-top: 1px solid #892cdc;
      bottom:0;
      width: 100%;
      transition: ease-in-out;
      transition-duration: 10s;
      font-size: small;
      flex-direction: row;
      text-decoration: none;
      flex-wrap: wrap;
      justify-content: space-around;
  }


  main div div .tarjeta-producto div span.precio{
      display: flex;
      color:white;
      font-size: 20px;
      justify-content: center;
      align-items: center;
  }
  main div div .tarjeta-producto div span.descuento{
      display: flex;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: white;
      font-weight: 700;
      color:green;
      font-size: 15px;
      justify-content: center;
      align-items: center;
  }

  div.img-prod{
      display:flex;
      width:100%;
      height:250px;
  }

  main img{
      width:100%;
  }



  /*******************/
  /*SECCION PUBLICIDAD*/
  /*******************/

  main .contenedor-publicidad{
      height:auto;
      display:flex;
      flex-direction: row;
      padding:10px;
  }

  main .contenedor-publicidad div.publicidad{
      display:flex;
      width:48%;
      background-color: #892cdc;
      margin:1%;
      flex-wrap: wrap;
      color:white;
      border-radius: 20px 0 20px 0;
      overflow:hidden;
      flex-direction: column;
  }

  main .contenedor-publicidad .img-publicidad{
      width:100%;
      height:auto;
  }
  main .contenedor-publicidad .texto-publicidad{
      border-left: 1px solid white;
      width:100%;
      height:auto;
  }
  
  main div.logos-marcas{
      display:flex;
      width:100%;
      height:auto;
      flex-direction: row;
      justify-content: space-around;
      border-radius:20px 20px 0px 0px;
      margin-top:30px;
  }

  main div .logos-marcas .contenedor-logos{
      width:150px;
      height:150px;
      border-radius:50%;
      overflow:hidden;
      box-shadow: 10px 10px 10px 0px #892cdc;
      margin-top:20px;
      margin-bottom:20px;
      background-color: white;
  }

}


@media(min-width:769px){

  /*************/
  /*HEADER******/
  /*************/

  img.logo{
      height: 50px;
      text-align: left;
  }
  div.logo-container{
      order:-1;
      text-align: left;
      justify-content: start;
      align-items:none;
      overflow:hidden;
      flex-wrap: wrap;
  }
  /**/
  header nav ul li{
      list-style: none;
      border:0;
  }

  header nav ul li a{
     color:white;
     font-weight: 700;
     text-decoration: none;
  }

  header nav ul li a:hover{
      background-color: white;
      color:#892cdc;
      border:2px solid white;
      border-radius: 10px 0 10px 0;
      font-weight: 700;
      text-decoration: none;
  }


  header div.contenedor-menu{
      background-color:  #892cdc;
      margin-top:10px;
  }


  header nav .search button.boton-busqueda{
      background-color: white;
      height:38;
  }


  header nav{
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap:wrap;
      padding-top: 10px;
      width:100%;
      height:100px;
      background-color: #892cdc;
  }
  header .container-header{
      display: flex;
      overflow:hidden;
     
  }

  header .container{
      display: flex;
      overflow:hidden;
     
  }

  header nav ul{
      width:100%;
  }


  header nav .search{
      overflow:hidden;
      order:2;
      top:-11px;
      right:0px;
      height:100%;
      margin-bottom: 5px;
  }

  header nav.nav-menu{
      height:50px;
      overflow: hidden;
  }

  header nav .lista{
      flex-direction: row;
      align-items: center;
      height:100%;
      
  }

  header nav li{
      border-bottom: 1px solid white;
      line-height: 30px;
  }

  header nav a{
      color:black;
      text-decoration: none;
      padding-right: 10px;
  }

  header div.menu-button-carrito{
      display:absolute;
      justify-content:end;
      align-items: right;
      padding-top: 10px;
  }

  header div .menu-button-carrito button{
    width:40px;
    height:40px;
    background-color:white;
    border-radius:50%;
    border:1px solid purple;
  }

  /******/
  /*Main*/
  /******/
  
  main{
      display:flex;
  }
  
  main div.titulo{
      text-align: center;
      margin-top:15px;
      font-size: 40px;
      border-bottom:2px solid purple;
  }
  
  /*******************/
  /*seccion productos*/
  /*******************/
  main div.contenedor-productos{
      display:flex;
      width:100%;
      flex-direction: row;
      padding:10px 15px 10px 15px;    
      
  }
  
  main div.fila{
      display:flex;
      text-align: center;
      flex-direction: row;
      flex-wrap: wrap;
      overflow:hidden;
      width:100%;   
      height:450px;
  }
  
  main div div.tarjeta-producto{ 
      flex-direction: column;
      flex-wrap: wrap;
      margin:2.5%;
      width:20%;
      height:320px;
      background-color: #892cdc;
      overflow:hidden;
      border:1px solid black;
      /* border-radius: 10px; */
      border-radius: 20px 0 20px 0;
      
  }
  main div div.tarjeta-producto:hover{
      border:1px solid black;
      box-shadow: 10px 10px 10px 0px #892cdc;
      height:auto;   
      transition:ease-in;
      transition-duration:.5s;
  }
  
  main div div .tarjeta-producto h3{
      font-size: medium;
      font-weight: 700;
      border-top: 1px solid purple;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  main div div .tarjeta-producto div.descripcion{
      border-top: 1px solid white;
      display:none;
      bottom:0;
      transition: ease-in-out;
      transition-duration: 0.5s;
      flex-direction: row;
      background-color: #892cdc;
      flex-wrap: wrap;
  }

  main div div.tarjeta-producto:hover .descripcion{
      display: flex;
      background-color:white;
      top:10px;
      height: auto;
      transition:ease-in;
      transition-duration:1.1s;
      background-color: #892cdc;
  }

  main div div .tarjeta-producto div span.precio{
      display: flex;
      color:white;
      font-size: 20px;
      font-weight: 700;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  main div div .tarjeta-producto div span.descuento{
      display: flex;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: white;
      font-weight: 700;
      color:green;
      font-size: 15px;
      justify-content: center;
      align-items: center;

  }

  main div.img-prod{
      height: 250px;
  }

  main .img-prod img{
      width:100%;
  }



  /********************/
  /*SECCION PUBLICIDAD*/
  /********************/


  main div.contenedor-publicidad{
      display:flex;
      flex-direction:row;
      height:auto;
      width:100%;
      flex-wrap: wrap;
      padding:10px;
      
  }

  main .contenedor-publicidad div.publicidad{
      display:flex;
      width:48%;
      background-color: #892cdc;
      margin:1%;
      flex-wrap: wrap;
      color:white;
      border-radius: 20px 0 20px 0;   
      overflow:hidden;
      flex-direction:row;
  }

  main .contenedor-publicidad div.publicidad{
      display:flex;
      width:48%;
      background-color: #892cdc;
      margin:1%;
      flex-wrap: wrap;
      color:white;
      border-radius: 20px 0 20px 0;   
      overflow:hidden;
      flex-direction:row;
  }



  main .contenedor-publicidad .img-publicidad{
      width:50%;
      height:auto;
  }

  main .contenedor-publicidad .texto-publicidad{
      border-left: 1px solid white;
      width:50%;
      height:auto;
  }




  /***************/
  /*SECCION LOGOS*/
  /***************/
  main div.logos-marcas{
      display:flex;
      width:100%;
      height:auto;
      flex-direction: row;
      justify-content: space-around;
      border-radius:20px 20px 0px 0px;
      margin-top:30px;
      margin-bottom:30px;
  }

  main div.logos-marcas .contenedor-logos{
      width:150px;
      height:150px;
      border-radius:50%;
      overflow:hidden;
      box-shadow: 10px 10px 10px 0px #892cdc;
      margin-top:20px;
      margin-bottom:20px;
  }
  

  
}






