
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

/*------------------------------------HEADER----------------------------------------------------------------------------------------*/
header {
  display:flex;
  flex-direction: row;
  height:6    0px;
  width:100%;
  background-color: white;
  margin-top:10px;
}

header i{
  color:purple;
}

div.contenedor-header{
  margin:0;
}

header div.menu-button{
  display:flex;
  justify-content: left;
  text-align: left;
  align-items: center;
  padding-top: 10px;
  background-color: transparent;
}

header div.menu-button-carrito{
  display:flex;
  justify-content: right;
  align-items: center;
  padding-top: 10px;
  background-color: transparent;
}


header nav .search{
  padding-top: 10px;
}

header nav .search button.boton-busqueda{
  background-color: white;
}


header nav {
  background-color: purple;    
}

header nav .lista{
  flex-direction: column;
  overflow:hidden;
  padding:0;
  margin:0;
  width:100%;
}

header nav li{
  border-bottom: 1px solid white;
  line-height: 30px;
}
header nav a{
  color:white;
  text-decoration: none;
  padding-left: 10px;
}



div.logo-container{
  text-align: center;
  justify-content: center;
  align-items:center;
  overflow:hidden;
  flex-wrap: wrap;
}


img.logo{
  height: 30px;
  margin-top:10px;
}

header div.container{
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid purple;
}
/*---------------------------------------------fin--------------------------------------------------------------------------------*/



/*-----------------------------------------------MI CARRITO : "Productos agregados"--------------------------------------------------*/
div.micarritoCompras section.misCompras{
  margin-bottom: 40px;
}
.micarritoCompras section.misCompras .titulo h2{
font-size: 25px;
color: indigo;
margin-top: 20px;
}
.micarritoCompras .producto article{
  border: 1px solid black;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.micarritoCompras  .producto article  .imagenProducto{
  width: 30%;
  display: flex;
  align-items: center;
}
.micarritoCompras  .producto article  .imagenProducto img{
width: 100%;
}
.micarritoCompras  .producto article .detallesProducto{
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;

}
.micarritoCompras   .producto article  .detallesProducto p.nombreProducto{
width: 100%;
margin-bottom: 0;
height:min-content;
font-size: 14px;
margin-bottom:5px;
}
.micarritoCompras  .producto article   .detallesProducto .cantidadProducto{
  width: 30%;

  height: min-content;
  text-align: center;
}
.micarritoCompras  .producto article  .detallesProducto .cantidadProducto input{
 width: 40%;
 height: 20px;
}
.micarritoCompras  .producto article  .detallesProducto p.precioProducto{
  width: 30%;
  margin-bottom: 0;
  text-align: right;
  height: min-content;
}
.micarritoCompras  .producto article .detallesProducto .eliminarProducto{
  width: 99%;
  height: min-content;
  text-align: right;
  padding-top: 10px;
  font-size: 12px;
}
.micarritoCompras .producto article .detallesProducto .eliminarProducto button{
border-style: none;
background-color: white;
}
/*-------------------------------------------------------fin---------------------------------------------------------------------*/

/*-------------------- MI CARRITO : "mi orden"------------------------------------------------------------------------------------- */
.cajaMiOrden{
  margin-bottom: 20px;
}
.cajaMiOrden  .miOrden h2{
  text-align: center;
  font-size: 18px;
}
.cajaMiOrden  .miOrden section.preciosDeCompra{
  display: flex;
  flex-direction: column;
}
.cajaMiOrden  .miOrden section.preciosDeCompra div:first-child{
  border-top: 1px solid gray;
  padding-top: 20px;
}
.cajaMiOrden  .miOrden section.preciosDeCompra .preciosDeMiOrden{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.cajaMiOrden  .miOrden section.preciosDeCompra .descuentos{
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
.cajaMiOrden  .miOrden .botonesFinCompra form button{
  border-style: none;
  margin-bottom: 10px;
  padding: 5px;
}
.cajaMiOrden  .miOrden .botonesFinCompra form button.comprar{
  background-color: rgba(72, 211, 72, 0.637);
  color: rgb(119, 172, 103);
}
.cajaMiOrden  .miOrden .botonesFinCompra form button.seguirComprando{
  background-color: rgba(243, 226, 73, 0.637);
  color: rgb(209, 197, 34);
}
/*--------------------------------------------fin---------------------------------------------------------*/



/*---------------------------------------------------Footer-----------------------------------------------------------*/
footer {
  text-align: center;
  background-color: #892cdc;
  color: white;
}
footer h3{
  margin-top: 5px;
}
footer .nosotros p{
  padding: 0px 15px;
}
footer ul{
  padding: 0;
}
footer ul li a{
  text-decoration: none;
  color: white;
}

footer .redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

footer .redes ul li{
  display: inline;
  margin-right: 30px;
}

footer .mediosDePago i{
  margin-right: 5px;
}

footer .redes{
  margin-top: 20px;
  padding-left: 50px;
}

footer .copyright{
  width: 100%;
}
footer .redes ul li{
  margin-right: 40px;
  font-size: 35px;
}
/*-----------------------------------------------------fin-------------------------------------------------------------*/


/**************************************************RESPONSIVE*******************************************************/
@media(min-width:768px){
  /*>>>>>>>HEADER<<<<<<<<*/
  img.logo{
      height: 50px;
      text-align: left;
  }
  div.logo-container{
      order:-1;
      text-align: left;
      justify-content: start;
      align-items:none;
      overflow:hidden;
      flex-wrap: wrap;
  }

  header nav .search button.boton-busqueda{
      background-color: white;
      height:38;
  }

  header nav{
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap:wrap;
      padding-top: 10px;
      width:100%;
      height:100px;
      background-color: white;
  }
  header .container-header{
      display: flex;
      overflow:hidden;
     
  }

  header .container{
      display: flex;
      overflow:hidden;
     
  }

  header nav ul{
      width:100%;
  }


  header nav .search{
      overflow:hidden;
      order:2;
      top:-11px;
      right:0px;
      height:100%;
      margin-bottom: 5px;
  }

  header nav.nav-menu{
      height:50px;
      overflow: hidden;
      background-color: #892cdc;
      color: white;
  }

  header nav .lista{
      flex-direction: row;
      align-items: center;
      height:100%;
      
  }

  header nav li{
      border-bottom: 1px solid white;
      line-height: 30px;
  }

  header nav a{
      color:black;
      text-decoration: none;
      padding-right: 10px;
  }

  header div.menu-button-carrito{
      display:flex;
      justify-content:end;
      align-items: right;
      padding-top: 10px;
  }
  /*>>>>>>>>FIN<<<<<<<<<<*/

  /*>>>>>>>>>>>MI CARRITO<<<<<<<<<< */
  .micarritoCompras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
  }  
  .micarritoCompras section.misCompras{
    width: 60%;
  }
  .micarritoCompras section.misCompras div.titulo h2{
    margin-top: 0px;
    }
  .micarritoCompras section.cajaMiOrden{
    width: 30%;
  }
  .micarritoCompras section article .detallesProducto{
    align-items: center;
    justify-content: space-around;
  }
  .micarritoCompras section .producto article .detallesProducto{
  width: 80%;
  }
  
  .micarritoCompras section .producto article  div.imagenProducto{
    width: 15%;
  }
  .micarritoCompras section .producto article {
    justify-content: start;
  }
  .micarritoCompras section  .producto article  .detallesProducto p.precioProducto{
  width: 15%;

  text-align: center;
  }

  .micarritoCompras section  .producto article  .detallesProducto p.nombreProducto{
    width: 40%;
    text-align: center;
  }
  .micarritoCompras section  .producto article   .detallesProducto .cantidadProducto{
  width: 20%;
  }
  .micarritoCompras section .producto article .detallesProducto .eliminarProducto{
    width: 10%;
    text-align: center;
  }
  /*>>>>>>>>>FIN<<<<<<<<<<<*/
}



