*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.container-stats{
    margin-top: 15px;
    height: auto;
    background-color: #892cdc;
    color: white;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    flex-direction: row;
}
.contador-container{
    width:50%;
}
.contador{
    font-size: 13vh;
}


.logoAdmin img {
    width: 60%;
}
/* .logoAdmin{
    width: 15%;
} */
.letraHeader{
    color: #892cdc;    
}

.letraHeader:hover{
    background-color:rgba(137, 44, 220,0.7);
    color:white ;
    border: none;    
}
/*editar producto*/
div.cajaFormularioEdit{
    width: 800px;
    margin: 20px auto;
    padding: 20px 0px;
    border: 1px solid #892cdc;
}
div.cajaFormularioEdit .formEditar{
    width: 70%;
    margin: auto;
}
div.cajaFormularioEdit .formEditar div{
    text-align: center;
    margin-bottom: 20px;
}
div.cajaFormularioEdit .formEditar input{
width: 60%;
}
div.cajaFormularioEdit .formEditar select{
    width: 60%;
}
.cajaAddColor{
      background-color: rgba(214, 168, 255, 0.15);
      width: 70%;
      margin: 0px auto;
      padding: 40px 0px;
}

.form__editar{
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.form__editar div {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.form__editar div.cajaImg input{
    height: 40px;
}
.form__editar div.caja1 label{
    width: 70%;
    text-align: start;
}
.form__editar div.cajaColor{
    background-color: rgba(214, 168, 255, 0.15);
padding: 10px 0px;
}
.form__editar section.botonEdit button{
    width: 50% ;

}

.form__editar div.error{
    margin-bottom: 0px;
}
.form__editar div input{
    width: 70%;
    height: 30px;
}
.indexTitulo{
    text-align: center;
    padding-top: 25px;
}
.headerAdmin nav{
    background-color: rgba(214, 168, 255, 0.7);
}



    .adminagregarproducto form .box-form{
        display: flex;
        flex-direction: row;
        margin: 0 12%;
      }

    .adminagregarproducto section.primeracolumna{
        width: 33%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
      }

    .adminagregarproducto input{
        width: 98%;
    }

    .adminagregarproducto section.segundacolumna{
        width: 33%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
      }

      .adminagregarproducto section.tercercolumna{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
      }

    .adminagregarproducto section.cuartacolumna{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-bottom: 2%;
      }

      .adminagregarproducto section.quintacolumna{
        width: 80%;
        margin: 0px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 2%;
        margin-bottom: 2%;
      }
      .botonQuinta button{
       width: 28%;
       margin-right: 20px;
      }

      /* MOBILE Y TABLER LISTADO DE PRODUCTOS */
@media(min-width:320px){
    .scroll{
        display: none;
    }
.cardpanelproduct{
    width: 90%;
    margin: 5% 5%;
    color: white;
    border-radius: 18px;
}
.cardpanelproduct .imagenpaneltamano img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.mobilepanelproduct .reyusadocard{
    padding: 0 15px;
    margin-bottom: 5%;
}
.mobilepanelproduct .usadocard{
    display: flex;
    justify-content: center;
}
.mobilepanelproduct .usadocard-discount{
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    width: 30%;
}

.mobilepanelproduct .usadocard-price{
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    width: 32%;
}

.mobilepanelproduct .usadocard-stock{
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    width: 30%;
}
.mobilepanelproduct .divcard-titlename{
    border-bottom: 1px solid #a993b3;
}
.mobilepanelproduct .divcard-titlename h5.card-titlename{
    display: inline;
    width: 50%;
}

.mobilepanelproduct h6.card-titlesku{
    display: inline;
    width: 50%;
    margin-left: 8px;
    color: #e0dede;
}

.mobilepanelproduct p.card-titledescription{
    margin-top: 5%;
}
.mobilepanelproduct .descbrandpanel{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    border-top: 1px solid #a993b3;
}

.mobilepanelproduct .descbrandpanel h6.descbrandpanel1{
    display: inline;
    margin-top: 3%;
    width: 50%;
    text-align: center;
}

.mobilepanelproduct .descbrandpanel h6.descbrandpanel2{
    display: inline;
    margin-top: 3%;
    width: 50%;
    text-align: center;
}

/* intento solucion de header*/
.logoAdmin{
    width: 60%;
}
}
@media(min-width:435px){
    .scroll{
        display: none;
    }
    .cardpanelproduct{
        width: 50%;
        margin: 5% 1%;
        color: white;
        border-radius: 18px;
    }
    .mobilepanelproduct{
        display: flex;
    }
    .logoAdmin{
        width: 45%;
    }
}
@media(min-width:769px){
    .mobilepanelproduct{
        display: none;
    }
    .scroll{
        display: grid;
    }
    .logoAdmin{
        width: 15%;
    }
}