<!DOCTYPE html>
<html>
    <%-  include('partials/head') %>
<!--     <link rel='stylesheet' href='/stylesheets/detalle.css' /> -->


  <body>
    <%- include('partials/header') %>

    <div class="producto">
      
    <div class="volver">
      <i class="fas fa-angle-left"></i><a href=""><span> Ver más de <b>Notebooks Gamer</b></span></a>
    </div>

    <div class="inicial">
      <h1>Lorem ipsum dolor sit amet consectetur elit. Explicabo, labore met consectetur adipisicing..</h1>
      <div class="carrucel">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/productos/gamer.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="images/productos/gamer.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </a>
        </div>
      </div>

      <div class="imagenescritorio">
        <img src="/images/productos/gamer.jpg" alt="">
      </div>
      <div class="imagenesbis">
        <img src="/images/productos/gamer.jpg" alt="">
        <img src="/images/productos/gamer.jpg" alt="">
        <img src="/images/productos/gamer.jpg" alt="">
      </div>
      </div>

      <div class="descripcion">
        <h2>$109.999</h2>
        <h3>12 cuotas s/interes a Precio de Lista</h3>
        <div class="detalle">
          <span><i class="fas fa-credit-card"></i>Precío de lista $223.999</span>
          <span><i class="fas fa-shield-alt"></i>Garantía</span>
          <span><i class="fas fa-truck"></i>Envíos a toda la Argentina</span>
        </div>

        <select name="" id="">
          <option value="" selected>1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
        </select>

        <button class="carrito" type="submit"><i class="fas fa-shopping-cart"></i>Agregar al carrito</button>

        <div class="comprar">
        <button class="comprar" type="submit">Comprar ahora</button>
      </div>
      </div>


      <div class="entrega">
        <h3>Formas de entrega</h3>
        <div class="metodos">
          <span><a href=""></a><i class="fas fa-store-alt"></i>Retiro en sucursal</span>
          <span><a href=""></a><i class="fas fa-truck"></i>Envío rapido a toda la Argentina</span>
        </div>
      </div>

      <div class="descripciones">
        <h4>Descripciones</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo delectus amet ratione. Labore recusandae libero tempore rem consequatur, dolor pariatur ipsum ducimus necessitatibus eius. Expedita repellendus velit ipsam qui minus nostrum maxime voluptatem distinctio molestiae quas blanditiis fuga aliquam quo eos, laborum dicta! Molestiae optio beatae, repellendus expedita non eos! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos explicabo et, ut, perspiciatis porro aliquam, aperiam eligendi labore doloremque nulla officia quidem rerum eum obcaecati cupiditate fugiat quis aut. Quos doloribus sit beatae, quisquam eius, reprehenderit accusantium repellat tenetur expedita laboriosam totam laudantium esse cupiditate ipsa doloremque recusandae corrupti. Doloribus.</p>
      </div>

      <div class="secciones">
        <h4>Especificacíones</h4>
        <section>
          <h3>Detalle 1</h3>
            <hr width="100%">
          <ul>
   
            <li>
              <h5>Lorem ipsum dolor sit ame.</h5>
              <span>Respuesta 1</span>
            </li>

            <li>
              <h5>Lorem ipsun dol</h5>
              <span>Respuesta 2</span>
            </li>

            <li>
              <h5>Item 3</h5>
              <span>Respuesta 3</span>
            </li>
          </ul>
        </section>

        <section>
          <h3>Detalle 2</h3>
          <hr width="100%">
          <ul>
   
            <li>
              <h5>Item 1</h5>
              <span>Respuesta 1</span>
            </li>

            <li>
              <h5>Item 2</h5>
              <span>Respuesta 2</span>
            </li>

            <li>
              <h5>Item 3</h5>
              <span>Respuesta 3</span>
            </li>
          </ul>
        </section>

      </div>
      <%- include('partials/footer') %> 

      <%- include('partials/scripts') %> 



    </body>
</html>
