<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>



    <main class="container">
        <section>
            <div class="profile-image">

            </div>

            <div class="container">
                <ul>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                </ul>
            </div>

        </section>
    </main>


    <%- include('partials/footer') %> 


    <%- include('partials/scripts') %> 
</body>
</html>