<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>

    <div class="datosperfil">

        <h1>Mis datos</h1>
        
        <h2>Perfil</h2>

       z

        </section>
    </main>


    <%- include('partials/footer') %> 


    <%- include('partials/scripts') %> 
</body>
</html>