<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %>

    <div class="datosperfil">

        <h1>Mis datos</h1>
        
        <h2>Perfil</h2>

        <form action="">
            <label for="">Nombre</label>
            <input type="text">

            <label for="">Apellido</label>
            <input type="text">

            <label for="">Correo electronico</label>
            <input type="text">

            <label for="">Numero de documento</label>
            <input type="text">

            <label for="">Numero de telefono</label>
            <input type="text">
        </form>

        <h2>Ubicación</h2>

        <form action="">
            <label for="">País de residencia</label>
            <input type="text">

            <label for="">Localidad</label>
            <input type="text">

            <label for="">Dirección</label>
            <input type="text">
        </form>

        <button type="submit">Actualizar datos</button>


    </div>



    <main class="container">
        <section>
            <div class="profile-image">

            </div>

            <div class="container">
                <ul>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                    <li>lorem ipsum</li>
                </ul>
            </div>

        </section>
    </main>


    <%- include('partials/footer') %> 


    <%- include('partials/scripts') %> 
</body>
</html>