<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>

    <div class="registrar">

    <h1>Creá tu cuenta</h1>

    <hr width="100%">
    <h3>Completa tus datos personales</h3>
    <hr width="100%">
    

    <div class="registro">
        <form action="" method="POST">
            <section>
            <label for="">Nombre</label>
            <input type="text" placeholder="Nombre" name="name">
        </section>

        <section>
            <label for="">Apellído</label>
            <input type="text" placeholder="Apellido" name="lastname">
        </section>
        
        <section>
            <label for="">Email</label>
            <input type="email" placeholder="E-mail" name="email">
        </section>

        <section>
            <label for="">N° de documento</label>
            <input type="text" placeholder="Numero de documento" name="dni">
        </section>

        <section>
            <label for="">País de residencia</label>
            <%- include('partials/paises') %> 
        </section>

        <section>
            <label for="">Localidad</label>
            <input type="text" placeholder="Localidad" name="country">
        </section>

        <section>
            <label for="">Clave</label>
            <input type="password" placeholder="Clave" name="password">
        </section>

        <section>
            <label for="">Confirmar clave</label>
            <input type="password" placeholder="Confirmar clave" name="password2">
        </section>

            <button>Registrarme</button>
        </div>
        </form>
    </div>
</div>
</body>
</html>