<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %> 
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="indexTitulo">
            <h1>PANEL DE ADMINISTRACION</h1>
        </div>
    </main>

<%- include('partials/scripts') %> 
</body>
</html>
