<footer >
    <div class="container caja">
        <div class="row ">
            <div class="col-sm-12 col-md-4 nosotros">
                <h3>Nosotros</h3>
                <p>Techgame es un sitio dedicado a la venta de hardware de computadoras y aparatos electronicos.</p>
            </div>
            <div class=" col-sm-12  col-md-2 enlaces">
                <h3>Enlaces</h3>
                <ul>
                    <li><a href="/productos/">Productos</a></li>
                    <li><a href="/users/perfil/<%= user.id %> ">Perfil</a></li>
                    <li><a href="/">Home</a></li>
                </ul>
            </div>
            <div class=" col-sm-12 col-md-3 contactoGeneral">
                <div class="contacto">
                  <h3>Contacto</h3>
                  <ul>
                      <li> <a href="mailto:techgame@email.com">Correo : techgame@email.com </a></li>
                      <li><a href="tel:123-456-7890">Tel : 123-456-7890</a></li>
                  </ul>        
                </div>     
            </div>
            <div class=" col-sm-12 col-md-3 mediosDePago">
                <h3>Medios de pago</h3>
                <i class="fas fa-id-card"></i>
                <i class="fas fa-id-card"></i>
                <i class="fas fa-id-card"></i>
            </div>
            <div class="redes">
                <ul>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-facebook-square"></i></a></li>
                </ul>     
            </div>
            <div class="copyright">
               <p>Copyright © 1999-2019 TechGame S.R.L.</p>
            </div>
        </div>
    </div>
</footer>
