<header >
    <div class="container-fluid">
         <div class="row justify-content-center navbar-expand-md contenedor-header">
            <div class="navbar-expand-md col-2 col-lg-4 menu-button">
                <button class="navbar-toggler burger" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
            </div>
            <div class="logo-container col-6 col-lg-4">
                <img class="logo" src="/images/logo-tech-game.PNG" alt="">
            </div>
            <div class="navbar-expand-md col-2 menu-button-carrito">
                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
            </div>
          </div>
     </div>
     <div class="container col-12 col-md-12 contenedor-menu">
      <div class="navbar-expand-md">
          <nav class="collapse navbar-collapse nav-menu col-lg-12" id="navbarSupportedContent">
              <ul class="menu navbar-nav">
                  <form class="d-flex search col-lg-6">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn boton-busqueda" type="submit"><i class="fas fa-search"></i></button>
                  </form>

                  <div class="lista col-lg-6 row">
                      <li><a href="">Ofertas</a></li>
                      <li><a href="">Tiendas oficiales</a></li>
                      <li><a href="">Vender</a></li>
                      <li><a href="">Ayuda</a></li>
                  </div>
                  
              </ul>
          </nav>
        </div>
      </div>
    </div>
</header>
