<header >
    <div class="container-fluid">
         <div class="row justify-content-center navbar-expand-md contenedor-header">
            <div class="navbar-expand-md col-2 col-lg-4 menu-button">
                <button class="navbar-toggler burger" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><i class="fas fa-bars "></i></button>
            </div>
            <div class="logo-container col-6 col-lg-4">
                <img class="logo" src="/images/logo-tech-game.PNG" alt="">
            </div>
            
            <div class="navbar-expand-md col-2 col-md-2 col-lg-2 menu-button-carrito">
                    <button><a href="/productos/carrito"><i class="fas fa-shopping-cart"></i></a></button>
                    <a href="/productos/carrito"><span class="  d-none d-lg-block d-md-block d-xl-block ml-2">Carrito</span></a>
            </div>

            <% if (typeof user == 'undefined' ) { %>
                <div class="navbar-expand-md col-2  col-md-3 col-lg-2 menu-button-carrito">
                    <button><a href="/users/login"><i class="fas fa-user"></i></a></button>
                    <a href="/users/login"><span class="  d-none d-lg-block d-md-block d-md-block d-xl-block ml-2">Iniciar Sesion</span></a>
                </div>
            <% } else { %>
                <div class="navbar-expand-md col-2 col-md-3 col-lg-2 menu-button-carrito">
                    <button><a href="/users/perfil/<%= user.id %>"><i class="fas fa-user"></i></a></button>
                    <a class="logoutdesktop" href="/users/cerrarSesion"><span class="  d-none d-lg-block d-md-block d-xl-block ml-2">Cerrar Sesion</span></a>
                </div>
            <% } %>
          </div>
     </div>
     <div class="container col-12 col-md-12 contenedor-menu">
      <div class="navbar-expand-md">
          <nav class="collapse navbar-collapse nav-menu col-lg-12" id="navbarSupportedContent">
              <ul class="menu navbar-nav">
                  <form class="d-flex search col-md-4 col-lg-6" method="GET" action="/productos/search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="buscar">
                      <button class="btn boton-busqueda" type="submit"><i class="fas fa-search"></i></button>
                  </form>

                  <div class="lista col-lg-6 row">
                        <li><a href="/">home</a></li>
                        <li><a href="/productos">Productos</a></li>
                        
                        <% if ( typeof user == "undefined") { %>
            
                        <%} else if (user.rol_id == 1 ){%> 
                            <li><a class="" href="/users/perfil/<%= user.id %>">Perfil</a></li>   
                            <li><a class="" href="/admin">Panel de control</a></option></li>
                            <li><a class="logoutmobil" href="/users/cerrarSesion">Cerrar Sesion</a></li>

                        <% } else if (user.rol_id == 2 ){%>

                            <li><a class="" href="/users/perfil/<%= user.id %>">Perfil</a></li>
                            <li><a class="logoutmobil" href="/users/cerrarSesion">Cerrar Sesion</a></li>

                        <% } else { %> 
                        <% } %>
                  </div>
                  
              </ul>
          </nav>
        </div>
      </div>
    </div>
</header>
